<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title> Lista de Proprietários</title>
</head>
<body>

<div layout:fragment="conteudo">

    <h1> Lista de Proprietários</h1>
    <a href="#" th:href="@{/viewproprietarios/formulario}">Novo</a>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th> NOME</th>
            <th> CPF</th>
            <th> AÇÕES</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="proprietario :${lista} ">
            <td th:text="${proprietario.id}"></td>
            <td th:text="${proprietario.nome}"></td>
            <td th:text="${proprietario.cpf}"></td>
            <td>
                <a th:href="@{/viewproprietarios/formulario?id={id}(id=${proprietario.id})}"> Editar </a>
                <form action="/viewproprietarios" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" th:value="${proprietario.id}">
                    <input type="submit" value="Excluir">
                </form>

            </td>
        </tr>
        </tbody>

    </table>


</div>


</body>
</html>